* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    background: #FAFEFF;
    min-height: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.column {
    margin-right: 30px;
}

.form {
    width: 500px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px;
}

.form__row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.input {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #828282;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.btn {
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background: #D44B4B;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

.content {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 3px 20px rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    margin-bottom: 15px;
    color: #D44B4B;
    text-align: center;
}

.block {
    margin-bottom: 20px;
}

#sumOutput {
    text-align: center;
}

.count__value {
    text-align: center;
}

.quest__row {
    margin-bottom: 15px;
}

.quizzis {
    width: 650px;
    line-height: 1.5;
}

.quizz__item {
    margin-bottom: 15px;
}